@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(25, 26, 29);
  font-family: 'Overpass';
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper {
  background-color: rgb(25, 26, 29);
  width: 375px;
  /* margin: 0 auto;
  margin-top: 25%; */
  padding: 150px 0;

}

.main {
  width: 325px;
  background: 
  linear-gradient(
  45deg,
  hsl(216deg 12% 8%) 0%,
  hsl(216deg 12% 9%) 7%,
  hsl(216deg 13% 9%) 13%,
  hsl(216deg 14% 10%) 20%,
  hsl(215deg 14% 11%) 26%,
  hsl(215deg 15% 12%) 32%,
  hsl(215deg 16% 12%) 39%,
  hsl(215deg 16% 13%) 45%,
  hsl(214deg 17% 14%) 52%,
  hsl(214deg 17% 14%) 58%,
  hsl(214deg 18% 15%) 65%,
  hsl(214deg 18% 16%) 73%,
  hsl(214deg 19% 17%) 80%,
  hsl(214deg 19% 17%) 89%,
  hsl(213deg 20% 18%) 100%
);
  margin: 0 auto;
  border-radius: 30px;
}

.main__container {
  padding: 20px;
}

.rating__icon {
  background-color: hsl(213, 19%, 18%);
  padding: 10px;
  border-radius: 30px;
}

.rating__header,
.submitted-state__header {
  color: hsl(0, 0%, 100%);
  font-size: 21px;
  font-weight: 700;
  margin: 15px 0;
}

.rating__copy, 
.submitted-state__copy {
  color: hsl(217, 12%, 63%);
  font-size: 14px;
  line-height: 1.5;
}

.submitted-state__selection {
  color: hsl(25, 97%, 53%);
  background-color: hsl(213, 19%, 18%);
  padding: 10px 15px;
  border-radius: 50px;
  margin: 20px 0 10px 0;
  font-size: 14px;
}

.rating__submissions {
  list-style: none;
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
} 

.rating__submissions__links a {
  background-color: hsl(213, 19%, 18%);
  margin-right: 10px;
  width: 50px; 
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center; 
  justify-content: center;
  color:hsl(217, 12%, 63%);
  text-decoration: none;
}

.rating__submissions__links a:hover {
  background-color: hsl(217, 12%, 63%);
  cursor: pointer;
  color: hsl(0, 0%, 100%)
}

.rating__submissions__links a:active {
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
}

button {
  background-color: hsl(25, 97%, 53%);
  color:hsl(0, 0%, 100%);
  margin-top: 20px;
  width: 275px; 
  padding: 15px 0;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  border: none;
} 

button:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);
  cursor: pointer;
}

.flex {
  display: flex;
}

.rating {
  /* display: none; */
}

.submitted-state {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  text-align: center;
}
